@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(to right, #191a29,  #200c3a);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #151943;
    font-family: 'Nunito', sans-serif;
}

button {
    color: black;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
    display: block;
    margin: 20px auto 20px auto;
    text-transform: uppercase;
    font-size: 20px;
}

    


.logo {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.pt-header, .stopwatch-header {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px;
}

.splits {
    text-align: center;
    margin: 10px;
    font-size: 25px;
    
}

.counter, .timer {
    text-align: center;
    margin: 10px;
    font-size: 50px;
}
.links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

.links a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


.burger {
    display:none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius:3px;
    background-color: #FFFFFF;
    transition: all 0.3 ease;
}

@media screen and (max-width:1024px){
    .links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #151943; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
   transform: translateX(0%); 
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


